# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# Data/Indexes
indexes/
artifacts/
data/uploads/

# Streamlit
.streamlit/*
!.streamlit/config.toml

# OS
.DS_Store
Thumbs.db

# VSCode/Cursor
.vscode/
.cursor/


